<html>
<head>
    <title>Palavras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/palavra/cadastrar" class="btn btn-primary">Cadastrar</a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Palavra</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Elefante</td>
                    <td>Fácil</td>
                    <td>
                        <a href="/palavra/atualizar/1">Editar</a>
                        <a href="/palavra/excluir/1">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>